/* =========================================
   Navigation Bar
========================================= */
nav {
    background-color: var(--bg);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2.25rem;
}

.container .logo img{
    color: var(--text);
    font-weight: bold;
    font-size: 2rem;
}

.container ul {
    display: flex;
}

.container ul li {
    margin: 0 1rem;
}

.container ul > li > a {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text);
    display: inline-block; 
    transition: transform 0.3s ease, color 0.3s ease; 
}

.container ul > li > a:hover {
    color: var(--hover);
}